<!DOCTYPE html>
<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="UTF-8">
	<title>Chatbot</title>

	<link rel="icon" type="image/png" href="images/bot.png" />

	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

	<link rel="stylesheet" href="stylesheets/normalize.min.css">
	<link rel='stylesheet' href='stylesheets/jquery.mCustomScrollbar.min.css'>

	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/fontawesome-stars.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">

	<link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>

	<div class="chat">
		<div class="chat-title">
			<h1>LYDDY</h1>
			<h2>Chatbot</h2>
			<figure class="avatar">
				<img src="images/bot.png" /></figure>
			</div>
			<div class="messages">
				<div class="messages-content">
				</div>
			</div>
			<div id="msg-box" class="message-box">
				<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
				<button type="submit" class="message-submit">Send</button>
			</div>
	</div>
	<div class="bg"></div>
	<script src='javascripts/jquery-3.3.1.min.js'></script>
	<script src='javascripts/jquery.mCustomScrollbar.min.js'></script>
	<script src="javascripts/jquery.barrating.min.js"></script>
	<script src="javascripts/umd/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>

	<script>

		var $messages = $('.messages-content'),
		d, h, m,
		i = 0;
		$(document).ready(function() {
			$messages.mCustomScrollbar();
			setTimeout(function() {
				$.ajax({
					type: "POST",
					url: "/",
					data: {input: ""},
					dataType: 'json',
					success: function (res) {
						if ($('.message-input').val() != '') {
							return false;
						}
						$('<div class="message loading new"><figure class="avatar"><img src="images/bot.png" /></figure><span></span></div>').appendTo($('.mCSB_container'));
						updateScrollbar();
						var message = res[0].output.text;
						setTimeout(function() {
							$('.message.loading').remove();
							$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +
							'</div>').appendTo($('.mCSB_container')).addClass('new');
							setDate();
							updateScrollbar();
							i++;
						}, 1000 + (Math.random() * 20) * 100);
					},
					error: function (data) {
						console.log('Error:', data);
					}
				});
			}, 100);
		});

		function updateScrollbar() {
			$messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
				scrollInertia: 10,
				timeout: 0
			});
		}

		function setDate() {
			d = new Date()
			if (m != d.getMinutes()) {
				m = d.getMinutes();
				$('<div class="timestamp">' + d.getHours() + ':' + m + '</div>').appendTo($('.message:last'));
			}
		}

		function insertMessage(msg,res) {

			if ($.trim(msg) == '') {
				return false;
			}
			$('<div class="message message-personal">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
			setDate();
			$('.message-input').val(null);
			updateScrollbar();
			setTimeout(function() {
				if ($('.message-input').val() != '') {
					return false;
				}
				$('<div class="message loading new"><figure class="avatar"><img src="images/bot.png" /></figure><span></span></div>').appendTo($('.mCSB_container'));
				updateScrollbar();


				//console.log(res);
				var message = res[0].output.text[0];

				var type = res[1];

				var url_image = res[2];

				if (type == "find_priority") {
					setTimeout(function() {
						$("#msg-box").addClass('invisible');
						$('.message.loading').remove();
						$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +
						'<br />Security :<select id="secu" class="rating"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>'+
						'<br />Comfort :<select id="confort" class="rating"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>'+
						'<br />Speed :<select id="vitesse" class="rating"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>'+
						'<br />Style :<select id="style" class="rating"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>'+
						'<br  /><button id="validate" class="btn btn-md btn-primary">Click here to validate your choice</button>' +
						'</div>').appendTo($('.mCSB_container')).addClass('new');
						 $('.rating').barrating({
							 theme: 'fontawesome-stars'
						 });
						 $( "#validate").click(function() {
							 info = [];
							 var security = document.getElementById("secu");
							 info[0] = security.options[security.selectedIndex].value;
							 var confort = document.getElementById("confort");
							 info[1] = confort.options[confort.selectedIndex].value;
							 var vitesse = document.getElementById("vitesse");
							 info[2] = vitesse.options[vitesse.selectedIndex].value;
							 var style = document.getElementById("style");
							 info[3] = style.options[style.selectedIndex].value;

							 $("#msg-box").removeClass('invisible');
							 $("#validate").remove();
							 $.ajax({
			 					type: "POST",
			 					url: "/giveinfo",
			 					data: {input: { security : info[0], confort : info[1] , vitesse : info[2], style : info[3] }},
			 					dataType: 'json',
			 					success: function (resultat) {
			 						if ($('.message-input').val() != '') {
			 							return false;
			 						}
			 						$('<div class="message loading new"><figure class="avatar"><img src="images/bot.png" /></figure><span></span></div>').appendTo($('.mCSB_container'));
			 						updateScrollbar();
			 						setTimeout(function() {
			 							$('.message.loading').remove();
			 							$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + resultat[0].output.text[0] +
			 							'</div>').appendTo($('.mCSB_container')).addClass('new');
			 							setDate();
			 							updateScrollbar();
			 							i++;
			 						}, 1000 + (Math.random() * 20) * 100);
			 					},
			 					error: function (data) {
			 						console.log('Error:', data);
			 					}
			 				});
						 });
						setDate();
						updateScrollbar();
						i++;
					}, 1000 + (Math.random() * 20) * 100);
				}
				else if (type == "display_car") {
					setTimeout(function() {
						$('.message.loading').remove();
						$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +
						'<br /><br /><img src="'+url_image+'" />' +
						 '</div>').appendTo($('.mCSB_container')).addClass('new');
						setDate();
						updateScrollbar();
						i++;
					}, 1000 + (Math.random() * 20) * 100);
				} else {
					setTimeout(function() {
						$('.message.loading').remove();
						$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +
						 '</div>').appendTo($('.mCSB_container')).addClass('new');
						setDate();
						updateScrollbar();
						i++;
					}, 1000 + (Math.random() * 20) * 100);
				}


			}, 100);
		}

		$('.message-submit').click(function() {
			msg = $('.message-input').val();
			$.ajax({
				type: "POST",
				url: "/",
				data: {input: msg},
				dataType: 'json',
				success: function (res) {
					console.log(res);
					insertMessage(msg,res)
				},
				error: function (data) {
					console.log('Error:', data);
				}
			});
		});

		$(window).on('keydown', function(e) {
			if (e.which == 13) {
				msg = $('.message-input').val();
				$.ajax({
					type: "POST",
					url: "/",
					data: {input: msg},
					dataType: 'json',
					success: function (res) {
						console.log(res);
						insertMessage(msg,res)
					},
					error: function (data) {
						console.log('Error:', data);
					}
				});
				return false;
			}
		})

	</script>



</body>

</html>
